@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');
*{
    box-sizing: border-box;
}

body{
    font-family:'Figtree';
    font-size: 1.25rem;
    max-inline-size: 1440px;
    background-color: hsl(47, 88%, 63%);
}

.wrapper{
    margin-left: auto;
    margin-right: auto;
    max-inline-size: 500px;
    min-block-size: 680px;
    background-color: hsl(0, 0%, 100%);
    padding: 50px;
    border-radius: 20px;
    border-top: hsl(0, 0%, 7%) solid 3px;
    border-left: hsl(0, 0%, 7%) solid 3px;
    border-right: hsl(0, 0%, 7%) solid 10px;
    border-bottom: hsl(0, 0%, 7%) solid 10px;
}

img{
    display: block;
    max-inline-size: 100%;
}

button{
    background-color: hsl(47, 88%, 63%);
    border-radius: 5px;
    block-size: 30px;
    inline-size: 100px;
    font-weight: bolder;
}

button:hover{
    background-color: #8818d8;
    cursor: pointer;
}

button:hover:focus{
    background-color: #d81818;
}

a{
    color: hsl(0, 0%, 7%);
    text-decoration: none;
    font-weight: bold;
}

a:hover{
    color:hsl(47, 88%, 63%) ;
    cursor: pointer;
}


.images{
    inline-size: 450px;
    border-radius: 10px;

}

.avatar{
    display: flex;
}

.info{
    color:hsl(0, 0%, 42%);
    font-weight:normal;
}

.attribution{
    text-align: center;
}

.links{
    text-decoration: none;
    color:#8818d8;
}

.links:hover{
    color: #d81818;
}